<!DOCTYPE html>
<html>
<head>
    <title>HomePage</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
</head>
<body>
<canvas id="canvas" style="position:absolute;width: 100%;height: 100%;"></canvas>
<div id="slider" style="position: absolute;margin: 0 auto;bottom: 20px;height: 10px;width: 80%;z-index: 9999;"></div>
</body>
</html>
